{% extends 'base.html.twig' %}

{% block title %}Conference {{conference}}{% endblock %}

{% block body %}
    <h1 style="text-align:center;">
        Conference {{conference}}
    </h1>

    {% if comments | length > 0 %}
        <h2>Commentaires ({{ comments | length }})</h2>
        {% for com in comments %}
            <div style="background-color: #da66b5; color: #fff; padding: 0.5em; margin-bottom: 0.5em;">
                <h4> {{ com.author }} le {{ com.createdAt | date('d-m-Y à H:i:s') }}  </h4>
                <h5> {{ com.email }} </h5>
                {% if com.photoFilename %}
                    <p>
                        <img width="50" height="50" src="/uploads/{{ com.photoFilename }}" /> 
                    </p>
                {% endif %}
                <p> {{ com.text }} </p>
            </div>
        {% endfor %}
        {% if previous >= 0 %}
            <a href="{{ path('SingleConference', {slug: conference.slug, offset: previous}) }}">Previous</a>
        {% endif %}
        {% if next < comments | length %}
            <a href="{{ path('SingleConference', {slug: conference.slug, offset: next}) }}">Next</a>
        {% endif %}
    {% else %}
        <p>Aucun Commentaire</p>
    {% endif %}
    
{% endblock %}
